<div class="main-container">
  <h2>Scan Student ID or Enter Manually:</h2>

    <mat-form-field class="mat-form-format">
        <input #focusMe matInput
               type="text"
               placeholder="Add Student ID Manually"
               [(ngModel)]="inputValue"
               (keyup.enter)="onInputKeyUpEnter()"
               [formControl]="idTemplate">
      <mat-error *ngIf="idTemplate.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  <button mat-button [disabled]="idTemplate.invalid" (click)="onSubmitUserId()">Submit <mat-icon>send</mat-icon></button>
</div>
