.entry-container {
  font-size: calc(10px + 2.5vw);
  color: #6e6e6e;
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;
  text-align: center
}

mat-form-field {
  width: 60%;
}

mat-label {
  text-align: center;
}

mark {
  background: none;
}

.entry-container button {
  font-size: calc(5px + 2vw);
  color: white;
  background: rgba(0, 51, 142, 0.87);
  height: 5vh;
  position: absolute;
  bottom: 1%;
  left: 43%;
}

.message {
  margin-top: 4vh;
  font-size: calc(10px + 2vw);
  width: 100%;
}

.mat-input-element {
  caret-color: var(--wsu-blue);
}

::ng-deep .mat-form-field-infix {
  border-top: 1vh !important;
}

::ng-deep .mat-form-field {
  text-align: center !important;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: var(--wsu-blue) !important;
  text-align: center !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: var(--wsu-blue) !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: var(--wsu-blue) !important;;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 5vh;
}
