
@media(max-width: 1260px) {
  * {
    font-family: "Open Sans", sans-serif;
  }

  hr {
    margin: calc(5px + 1vw) auto calc(5px + 1vw) auto;
    background: rgba(238, 179, 53, 0.36);
    height: 3px;
    border-radius: 10px;
    width: 50%;
    border: solid 0 var(--wsu-gold);
  }

  button {
    border-radius: 0;
  }

  .main-container {
    display: grid;
    grid-template-columns: 20% auto 60% auto;
    grid-template-rows: calc(12px + 3vw) calc(18px + 2vw) calc(15px + 2vw) calc(12px + 2vw) calc(15px + 2vw) 1fr 15%;
    height: 100%;
  }

  #main-container {
    filter: none;
    transition: filter 100ms;
    transition-delay: 300ms;
  }

  .top-header {
    grid-column: 1 / -1;
    grid-row: 1 / 3 ;
    background-color: var(--wsu-blue);
    color: white;
    z-index: 7;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  }

  .logo-container {
    grid-column: 1  / -1;
    grid-row: 1 / 3;
    height: 100%;
    width: 95%;
    font-size: calc(8px + 2.2vw);
    padding-left: 3vw;
    font-family: "Roboto Slab", sans-serif;
    font-weight: 500;
    color: white;
    display: flex;
    line-height: calc(30px + 5vw);
    z-index: 8;
  }

  .for-shadow {
    grid-column: 1 / 2;
    grid-row: 2 / -1;
    box-shadow: -20px 10px 30px 20px rgba(0, 0, 0, 0.15);
    z-index: 5;
  }

  .add-user-sidebar {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
    z-index: 6;
    text-align: center;
    color: var(--wsu-blue);
  }

  .add-user-sidebar button {
    color: var(--wsu-blue);
    background: rgba(238, 179, 53, 0.36);
    height: 100%;
    width: 100%;
    font-size: calc(5px + 1.3vw);
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    transition: all 500ms;
  }

  .add-user-sidebar button:hover {
    color: white;
    background: var(--wsu-blue);
  }

  .scrollable-container {
    grid-column: 1 / 2;
    grid-row: 5 / -1;
    background: var(--filler-grey);
    z-index: 5;
  }

  .scrollable {
    height: 100%;
    background: transparent;
  }

  .scrollable button {
    width: 100%;
    height: 4.5vw;
    font-size: calc(5px + 1.2vw);
    font-weight: 400;
    letter-spacing: 0.18vw;
    color: var(--wsu-blue);
  }

  .highlight {
    background-color: rgba(192, 192, 192, 0.5);
  }

  .scrollable::-webkit-scrollbar {
    display: none;
  }

  .vertical-button-row {
    grid-column: 2 / -1;
    grid-row: 4 / 5;
    background: var(--filler-grey);
    z-index: 2;
  }

  .vertical-button-row button {
    height: 90%;
    width: fit-content;
    color: white;
    background: var(--wsu-blue);
    border: 2px solid var(--wsu-blue);
    border-radius: 0;
    font-size: calc(8px + 1vw);
    transition: all 500ms;
    top: 5%;
    margin-left: 1vw;
  }

  .vertical-button-row button:hover {
    color: var(--wsu-blue);
    background: white;
    border: 2px solid var(--wsu-blue);
  }

  .disabled {
    color: #b9b9b9 !important;
    background: transparent !important;
    border: 2px solid transparent !important;
  }

  .current-guest-bar {
    line-height: calc(15px + 2vw);
    background: #c0c0c0;
    grid-column: 2 / -1;
    grid-row: 3 / 4;
    display: inline-block;
    height: 100%;
    color: var(--wsu-blue);
    z-index: 1;
  }

  .current-guest-bar h1 {
    font-size: calc(8px + 1.25vw);
    font-family: "Nunito ExtraLight", sans-serif;
    font-weight: 100;
    padding-left: 1vw;
    margin: 0;
    color: var(--wsu-blue);
  }

  .current-guest-bar mark {
    color: #fff;
    background: none;
    font-family: "Nunito SemiBold", sans-serif;
    font-size: calc(9px + 1.25vw);
    letter-spacing: 1px;
    text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.4);
  }

  .id-entry-container {
    height: 40%;
    width: 40%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    background-color: rgba(243, 243, 243, 0.8);
    border-radius:15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    z-index: 2000;
  }

  .id-entry-container button {
    color: red;
    background: transparent;
    border: unset;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: calc(7px + 1vw);
    height: 3vw;
  }

  .background-container {
    grid-row: 5 / -1;
    grid-column: 2 / -1;
    height: 100%;
    background: url("src/assets/WSU_Logo_Seal_Type_Vt-Blue287.png") center no-repeat;
    background-size: 30%;
    opacity: 0.3;
    z-index: 1;
  }

  .add-weight-container {
    grid-row: 5 / 7;
    grid-column: 3 / 4;
    height: 100%;
    margin-top: 8vh;
    background: rgba(237, 237, 237, 0.9);
    z-index: 2;
    border-radius: 15px;
  }
}
