<div id="main-container" class="main-container">
  <div class="top-header">
  </div>

  <div class="logo-container">
    {{title}}
    <app-svg-container style="padding-top: 1.5vh"></app-svg-container>
  </div>

  <div class="for-shadow"></div>

  <div class="add-user-sidebar">
    <button mat-icon-button (click)="activateIDScanner()">
      Check-in Guest <mat-icon>person_add</mat-icon>
    </button>
  </div>

  <div class="scrollable-container">
    <cdk-virtual-scroll-viewport itemSize="10" class="scrollable">
      <hr>
      <button mat-button *ngFor="let guest of newGuestService.guests;
      let i = index" (click)="newGuestService.setCurrGuest(guest)"
      [ngClass]="{'highlight': newGuestService.guests.indexOf(newGuestService.currGuest)  === i}">
        {{guest.studentID}}
      </button>
    </cdk-virtual-scroll-viewport>
  </div>

  <div class="current-guest-bar">
    <h1 style="float: left"> Current Guest ID: <mark>{{newGuestService.currGuestID}}</mark></h1>
    <h1 style="float: right; margin-right: 2vw">Total Weight: <mark>{{newGuestService.currGuestTot}}</mark></h1>
    <h1 style="float: right">Remaining Weight: <mark>{{newGuestService.currGuestRem}}</mark></h1>
  </div>

  <div class="vertical-button-row">
    <button mat-raised-button [disabled]="newGuestService.currGuestID == null" [ngClass]="{'disabled': newGuestService.currGuestID == null}" (click)="activateWeightEntry()">
      Checkout <mat-icon>shopping_basket</mat-icon>
    </button>

    <button mat-button
            *ngIf="!weightEntryOpen"
            style="color: red;
            background: transparent;
            border: unset;
            float: right;
            margin-right: 1vw;"
            (click)="newGuestService.clearCurrentGuest()">
                Remove Guest <mat-icon>delete</mat-icon>
    </button>
    <button mat-button
            *ngIf="weightEntryOpen"
            style="color: red;
            background: transparent;
            border: unset;
            float: right;
            margin-right: 1vw;"
            (click)="deactivateWeightEntry()">
                Close <mat-icon>cancel</mat-icon>
    </button>
  </div>

  <span class="background-container"></span>

  <div class="add-weight-container"
       *ngIf="weightEntryOpen"
       [@inOutHorizontalAnimation]>

    <app-weight-entry (closeContainerEmitter)="weightEntryOpen=$event" (clearGuestEmitter)="newGuestService.clearCurrentGuest()"></app-weight-entry>

  </div>
</div>

<div class="id-entry-container"
     *ngIf="scannerOpen"
     [@inOutVerticalAnimation]>
  <app-id-scanner
    (clickOutside)="deactivateIDScanner()"
    [delayClickOutsideInit]="true"></app-id-scanner>

  <button mat-button (click)="deactivateIDScanner()">Cancel <mat-icon>cancel</mat-icon></button>

</div>
